ENV=dev
LOG_DIR=logs    

REDISHOST=redis-12981.xxxx.com
REDISPORT=1xxxx1
REDISDB=0
REDISPASSWORD=C2PNlxxxxxxxxxxxxxx6Z6cJjrdcE

DATABASEURL =postgresql+asyncpg://xxxxxx@xxxxxxx/defaultdb
SSL_CERT_PATH=certs/ca.pem

KAFKAUSERNAME = axxxxxn
KAFKAPASSWORD = AV_xxxxxxxxxxxx-Iuj
KAFKAHOST=kafkxxxxxxxxxxxxxxxxxxxxxxx:18181
SSL_CERT_PATH_KAFKA=certs/kafka.pem






















